:root {
  --blue: #08446C;
  --pink: #EEAAC7;
  --cream: #FBF1EB;
  --main: 'Fraunces', serif;
  --second: 'DM Mono', monospace;
}

* {
  margin: 0;
  padding: 0;
  border-radius: 2px;
}

html {
  width: auto;
  height: auto;
  font-family: var(--main);
  font-style: normal;
  text-decoration: none;
}

/* GRID AREA NAMES - REFERS TO BODY'S DISPLAY: GRID */
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}

body {
  margin: 2vw;
  width: 96vw;
  background-color: var(--cream);
  opacity: 1;
  background-image:  radial-gradient(#EEAAC7 0.9px, transparent 0.9px), radial-gradient(#EEAAC7 0.9px, #FBF1EB 0.9px);
  background-size: 36px 36px;
  background-position: 0 0,18px 18px;
  display: grid;
  grid-template-columns: [column1] 1fr [column2] 3.5fr;
  grid-template-rows: [row1] auto [row2] 1fr [row3] auto;
  grid-template-areas: "header header" "nav main" "footer footer";
  gap: 30px 30px;
  place-items: start; 
}

/* MASTHEAD GOES HERE (FLEX) */
header {
  width: 100%;
  top: 0;
  position: sticky;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.name {
  padding: .25%;
  color: var(--blue);
  font-family: var(--main);
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  transition: all .35s ease-in-out;
  animation: SlideInX 1s ease-in-out;
}

.name:hover {
  color: var(--blue);
  background-color: var(--pink);
  transform: translateX(10px);
}

aside {
  width: 12%;
  padding: .5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}

.icon {
  padding: 2%;
  transition: all .25s ease-in-out;
}

.icon:hover {
  transform: translateY(5px);
  filter: hue-rotate(100deg);
  opacity: 30%;
}

/* NAV GOES HERE (FLEXBOX) */
nav {
  width: 100%;
  height: 35vh;
  top: 95px;
  position: sticky;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: start;
  gap: 1ch;
}

.pages {
  padding: 2%;
  font-size: large;
  color: var(--cream);
  background-color: var(--blue);
  text-decoration: none;
  transition: all .25s ease-in-out;  
}

.pages:hover {
  color: var(--pink);
  font-weight: 600;
  transform: translateX(10px);
}

/* MAINPAGE GOES HERE */
main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  row-gap: 2vh;
}

div.title {
  width: 97%;
  padding: 1.5%;
  color: var(--blue);
  background-color: var(--pink);
}

h2 {
  font-size: 1.75rem;
}

h4 {
  font-style: italic;
  font-size: large;
  font-weight: 400;
  line-height: 2em;
}

div.container {
  width: 100%;
}

div.paragraph {
  padding: 2%;
  background-image: url('../images/src/comictexture2.png');
  background-color: var(--cream);
  background-position: left top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--blue);
  font-family: var(--second);
  font-weight: 300;
  line-height: 1.5em;
}

a > img {
  width: 100%;
}

h5 {
  width: 75%;
  margin: 1% 0 1% 0;
  padding: 2%;
  color: var(--cream);
  background-color: var(--blue);
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5em;
}

footer > p {
  text-align: right;
  color: var(--blue);
}

/* MEDIA QUEREY FOR SMALL DEVICES */
@media all and (max-width: 500px) {
  
}