:root {
  --one: #D5EAF5;
  --two: #AFE3FE;
  --three: #61BCF9;
  --four: #139BF6;
  --five:#3F454D;
  --six:#6F625B;
  --seven:#9F7E69;
  --eight:#CAB4A5;
  --nine: #E2D3C8;
  --ten: #FAF1EB;
  --main: 'Fraunces', serif;
  --secondary: 'Noto Color Emoji', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
  width: 100vw;
  height: auto;
  
}

/* GRID AREA NAMES - REFERS TO BODY'S DISPLAY: GRID */
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
body {
  padding: 2%;
  height: 94vh;
  overflow: hidden;
  background-color: var(--ten);
  opacity: 0.8;
  background-size: 20px 20px;
  background-image:  radial-gradient(var(--six) 0.5px, transparent 0.5px), radial-gradient(var(--six) 0.5px, var(--ten) 0.5px);
  background-position: 0 0,10px 10px;
  display: grid;
  grid-template-columns: [column1] 1fr [column2] 3.5fr;
  grid-template-rows: [row1] 10% [row2] auto [row3] 4%;
  grid-template-areas: "header main" "nav main" "footer main";
  gap: 30px 50px;
  place-items: start;
}

/* HEADER (FLEXBOX) */
header {
  width: 100%;
  height: 100%;
  background-color: var(--ten);
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-content: end;
  align-items: center;
}

header > img {
  height: 85%;
}

a.name {
  width: 72%;
  margin-left: 1.5%;
  color: var(--five);
  font-family: var(--main);
  font-size: xx-large;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  transition: all .35s ease-in-out;
}

a.name:hover {
  color: var(--four);
  transform: translateX(10px);
}

/* NAV (FLEXBOX) */
nav {
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

nav > p {
  width: 92%;
  padding: 4%;
  border-radius: 2px;
  background-color: var(--nine);
  color: var(--six);
  font-size: larger;
  font-weight: 500;
  font-family: var(--main);
  line-height: normal;
}

nav > a {
  border-bottom: 1px solid var(--six);
  width: 90%;
  padding: 5%;
  background-color: var(--ten);
  color: var(--six);
  font-size: medium;
  font-weight: 300;
  font-family: var(--main);
  text-decoration: none;
  transition: all .25s ease-out;
}

nav > a.last {
  border-bottom: 0px;
}

nav > a:hover {
  color: var(--four);
  transform: translateX(10px);
}

/* MAIN HERE */
main {
  padding: 4%;
  width: auto;
  height: 100%;
  overflow: scroll;
  background-color: var(--ten);
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: stretch;
  row-gap: 2vh;
}

main > div.pagetitle {
  width: 96%;
  padding: 2%;
  background-color: var(--one);
  color: var(--five);
  font-family: var(--main);
  animation: SlideInX 1s ease-in-out;
}

h4 {
  font-size: large;
  font-weight: 400;
  text-align: left;
  line-height: 2em;
}

main > p {
  padding: 3% 5% 3% 0%;
  color: var(--five);
  font-size: medium;
  font-weight: 300;
  font-family: var(--main);
  line-height: 1.5em;
}

main > img {
  width: 70%;
  border-radius: 2px;
}

figcaption {
  width: 70%;
  color: var(--four);
  font-size: medium;
  font-style: italic;
  font-family: var(--main);
  text-align: center;
}

div.multishot {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: start;
}

div > img {
  width: 50%;
}

/* FOOTER (GRID) */
footer {
  border-top: 2px solid var(--six);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.tab {
  margin-top: 2%;
  padding: 2%;
}

img.icon {
  width: 30%;
  filter: invert(45%);
}

a.email {
  font-size: x-large;
  font-style: normal;
  font-family: var(--secondary);
  text-decoration: none;
}

/* MEDIA QUEREY FOR SMALL DEVICES */
@media all and (max-width: 500px) {
  body {
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }
  nav > a {
    display: none;
  }
  main > img {
    display: none;
  }
}

/* ANIMATION IS LAST, ALWAYS */
@keyframes SlideInX {
0% {
  transform: translateX(5%);
  opacity: 0.1;
}
100% {
  transform: translateX(0);
  opacity: 1;
}


  /* outline: 0px solid var(--four); */