:root {
  --zero: #FAF1EB;
  --one: #D5EAF5;
  --two: #AFE3FE;
  --three: #61BCF9;
  --four:#9F7E69;
  --five:#3F454D;
  --six: #CAB4A5;
  --main: 'Fraunces', serif;
  --secondary: 'Noto Color Emoji', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
  width: 100vw;
  height: auto;
}

/* GRID AREA NAMES - REFERS TO BODY'S DISPLAY: GRID */
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
body {
  margin: .5%;
  padding: 1.5%;
  height: 94vh;
  display: grid;
  grid-template-columns: [column1] .75fr [column2] 3.25fr;
  grid-template-rows: [row1] 10% [row2] auto [row3] 5%;
  grid-template-areas: "header main" "nav main" "footer main";
  gap: 30px 50px;
  place-items: start;
}

/* HEADER (FLEXBOX) */
header {
  width: 100%;
  height: 100%;
  font-size: xx-large;
  font-style: normal;
  font-weight: 400;
  font-family: var(--main);
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-content: end;
  align-items: center;
}

header > img {
  height: 8vh;
}

a.name {
  margin-left: 2%;
  color: var(--five);
  text-decoration: none;
  transition: all .25s ease-out;
}

a.name:hover {
  color: var(--three);
  transform: translateX(10px);
}

/* NAV (FLEXBOX) */
nav {
  width: 100%;
  height: 100%;
  overflow: scroll;
  border-right: 0px solid var(--four);
  padding-right: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

nav > p {
  width: 90%;
  padding: 4%;
  outline: 1.5px solid var(--four);
  background-color: var(--four);
  color: var(--zero);
  font-size: larger;
  font-weight: 500;
  font-family: var(--main);
  line-height: normal;
}

nav > a {
  width: 80%;
  padding: 1em;
  border-bottom: 1px solid var(--six);
  color: var(--five);
  font-weight: 200;
  font-size: medium;
  font-family: var(--main);
  text-decoration: none;
  transition: all .25s ease-out;
}

nav > a:hover {
  color: var(--four);
  transform: translateX(10px);
}

/* MAIN HERE*/
main {
  width: auto;
  height: 94%;
  padding: 2%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

main > img {
  width: 75%;
  border-radius: 5px;
  filter: saturate(0%) blur(1px);
  transition: all .75s ease;
}

main > img:hover {
  filter: saturate(150%) blur(0px);
}

main > div {
  width: 75%;
  margin-top: 2%;
  background-color: #E2D3C8;
}

div > p {
  padding: 1em;
  color: #6F625B;
  font-size: large;
  font-weight: 400;
  font-family: var(--main);
  text-align: center;
  line-height: 2em;
  animation: SlideIn 1s ease-in-out;
}

/* FOOTER (GRID) */
footer {
  width: 90%;
  height: 100%;
  padding: .5em;
  border-top: 2px solid var(--six);
  color: var(--four);
  font-size: 100%;
  font-weight: 100;
  font-family: var(--main);
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

img.icon {
  width: 20%;
  filter: invert(45%);
}

a.email {
  font-style: normal;
  text-decoration: none;
  font-size: medium;
}

/* Small devices */
@media all and (max-width: 500px) {
  body {
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }
  nav > a {
    display: none;
  }
  main > img {
    display: none;
  }
}

/* ANIMATION IS LAST, ALWAYS */
@keyframes SlideIn {
0% {
  transform: translateY(10%);
  opacity: 0.1;
}
100% {
  transform: translateY(0);
  opacity: 1;
}